<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <array>
            <string>[春节]昆大丽双飞6日游</string>
            <string>独家双古城客栈2晚，1晚温泉酒店，销量冠军，新春最高减600</string>
            <string>￥1739</string>
            <string>86%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        
        <array>
            <string>海南5日游</string>
            <string>春节最高减6000，8大景点CDF免税，4晚海景0自费，疯玩Sanya</string>
            <string>￥1899</string>
            <string>100%满意</string>
            <string>groupchat_first_join_prompt_default_image</string>

        </array>
      
        <array>
            <string>[春节]海南5日游</string>
            <string>早定减，爸爸回来了，3晚海景，赠小鱼温泉</string>
            <string>￥1708</string>
            <string>86%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        <array>
            <string>三亚5日半自助游</string>
            <string>早定减，静谧海棠湾希尔顿，2天自由，媲美自助</string>
            <string>￥3109</string>
            <string>86%满意</string>
            <string>groupchat_first_join_prompt_default_image</string>

        </array>
        <array>
            <string>海南5日游</string>
            <string>恒丰2人减600，小月湾独栋木屋，南山海景，明星线</string>
            <string>￥2529</string>
            <string>86%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        <array>
            <string>[春节]海南5日游</string>
            <string>早定减，全网销量第一，奔跑吧牛人，4晚180海景</string>
            <string>￥2199起</string>
            <string>86%满意</string>
            <string>groupchat_first_join_prompt_default_image</string>

        </array>
        <array>
            <string>哈尔滨-亚布力-雪乡-雾凇双飞5日游</string>
            <string>不走回头路</string>
            <string>￥3338</string>
            <string>86%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        <array>
            <string>东京大阪6日游</string>
            <string>途牛成团，不走回头路。销售冠军，家庭免担保</string>
            <string>￥3338</string>
            <string>86%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        
        <array>
            <string>曼谷-芭提雅7日游</string>
            <string>2晚五星酒店，高餐标</string>
            <string>￥3079</string>
            <string>94%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        <array>
            <string>[春节]美国西海岸-夏威夷10-11日游</string>
            <string>旧金山，免费wifi，减1500</string>
            <string>￥10799</string>
            <string>100%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        <array>
            <string>[春节]昆大丽-版纳4飞8日游</string>
            <string>版纳华美达，大理古城客栈，双廊DIY</string>
            <string>￥2499</string>
            <string>80%满意</string>
            <string>guide_second_page_tree</string>

        </array>
        
        
    </array>
</plist>
